@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Ajustes generales para la página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.time-slots button {
  margin: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
}

.time-slots button.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.time-slots button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
/* Para fechas llenas (10 o más ocupados) */
.full {
  background-color: red !important; /* Rojo para fechas llenas */
  color: white;
}

/* Para fechas casi llenas (5 o más ocupados) */
.almost-full {
  background-color: orange !important; /* Naranja para fechas casi llenas */
  color: white;
}

/* Para fechas disponibles (al menos 1 ocupado, pero menos de 5) */
.available {
  background-color: green !important; /* Verde para fechas disponibles */
  color: white;
}
input.react-datepicker-ignore-onclickoutside {
  font-size: 16px; /* Aumenta el tamaño del texto para móviles */
  height: 50px; /* Mejora la altura del input */
  cursor: pointer; /* Indica que es interactivo */
}

.react-datepicker {
  width: 100%; /* Asegura que el calendario sea legible */
}
